<h1><%= markdown @post.title %></h1>

<div class="row">
  <div class="col-md-8">
      <%= image_tag(@post.image.small.url) if @post.image? %>
        <p><%= markdown @post.body %></p>
    <br/>
    <br/>
  	  <small>
     <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by
      <%= @post.user.name %>
    </small>

  

  <h4><%= "Comments" %></h4>
    <% @comments.each do |comment| %>
      <%= render partial: 'comments/comment', locals: { comment: comment } %>
   <% end %>

    <%= render partial: 'comments/form', locals: { topic: @topic, post: @post, comment: @post.comments.new }  if current_user%>

  </div>
  <div class="col-md-4">
    <% if policy(@post).edit? %>
      <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>